@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Welcome to BARD Sports!</h1>
    <h2>"The best from the rest!!!"</h2><br />

                                        <div class="football-logos">
                                            <img src="~/images/arsenal.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <img src="~/images/chelsea.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <img src="~/images/man un.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <img src="~/images/leicester.jpg" />
                                        </div>


    </div><br />
                <div class="video segments">
                    <p>
                        <h2>Highlights!!!</h2><br />
                    </p>


                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3UOaAj-Vvo0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;&nbsp;
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ws9WVtdO3ik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br /><br />
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WtLPspf3Mb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;&nbsp;&nbsp;
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tcvvCinUtI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br /><br />
                </div>
            <hr />      
                                  <div class="adverts">
                                      <p>
                                          <h2>Check these!!!</h2>
                                      </p><br />
                                      <div class="row">
                                          <div class="col-md-4">
                                              <div>
                                                  <img src="~/images/bt advert.jpg" /><br /><br />
                                                  <p><a class="btn btn-default" href="https://www.bt.com/sport">More Info... &raquo;</a></p>
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div>
                                                  <img src="~/images/cricket advert.jpg" /><br /><br />
                                                  <p><a class="btn btn-default" href="https://www.skysports.com/cricket">More Info... &raquo;</a></p>
                                              </div>
                                          </div>

                                                      <div class="col-md-4">
                                                          <div>
                                                              <img src="~/images/formula1 advert.jpg" /><br /><br />
                                                              <p><a class="btn btn-default" href="https://www.skysports.com/f1">More Info... &raquo;</a></p>
                                                          </div>
                                                      </div>
                                             </div>
                                          
                                              </div>
                            <hr />  
                                           



                                                  <div class="row">
                                                      <div class="col-md-4">
                                                          <h3>BARD Sports</h3>
                                                          <p>
                                                              Get BARD Sports
                                                          </p>
                                                          <p>
                                                              BARD Sports Apps
                                                          </p>
                                                          <p>
                                                              Sportinglife.com
                                                          </p>
                                                          <p>
                                                              TEAMtalk.com
                                                          </p>
                                                          <p>
                                                              Football365.com
                                                          </p>


                                                      </div>
                                                      <div class="col-md-4">
                                                          <h3>Latest News</h3>
                                                          <p>
                                                              Football
                                                          </p>
                                                          <p>
                                                              Rugby
                                                          </p>
                                                          <p>
                                                              Cricket
                                                          </p>
                                                          <p>
                                                              Formula 1
                                                          </p>
                                                          <p>
                                                              NBA
                                                          </p>

                                                      </div>
                                                      <div class="col-md-4">
                                                          <h3>Partners</h3>
                                                          <p>
                                                              BARD Bet
                                                          </p>
                                                          <p>
                                                              Fantasy Football
                                                          </p>
                                                          <p>
                                                              World F1
                                                          </p>
                                                          <p>
                                                              Planet Cricket
                                                          </p>
                                                          <p>
                                                              Rugby365
                                                          </p>



                                                          <img src="~/images/twitter-fb-insta new.jpg" />


                                                      </div>
                                                  </div>
