@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to BARD Sports!</h2><br />


    <img src="~/images/arsenal.jpg" />

    <img src="~/images/chelsea.png" />

    <img src="~/images/man un.png" />

    <img src="~/images/leicester.jpg" />



    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@



</div><br /><br />
            <div class="video segments">
                <p>
                    <h3>Highlights</h3><br />
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3UOaAj-Vvo0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ws9WVtdO3ik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WtLPspf3Mb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            </div><br /><br /><br />


<div class="row">
    <div class="col-md-4">
        <h3>BARD Sports</h3>
        <p>
            Get BARD Sports
        </p>
        <p>
            BARD Sports Apps
        </p>
        <p>
            Sportinglife.com
        </p>
        <p>
            TEAMtalk.com
        </p>
        <p>
            Football365.com
        </p>

        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h3>Latest News</h3>
        <p>
            Football
        </p>
        <p>
            Rugby
        </p>
        <p>
            Cricket
        </p>
        <p>
            Formula 1
        </p>
        <p>
            NBA
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h3>Partners</h3>
        <p>
            BARD Bet
        </p>
        <p>
            Fantasy Football
        </p>
        <p>
            World F1
        </p>
        <p>
            Planet Cricket
        </p>
        <p>
            Rugby365
        </p>



        <img src="~/images/twitter-fb-insta new.jpg" />

        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
